* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    background-color: #e5e5e5;
    width: 100%;
    display: flex;
}
.area-site {
    width: 100%;
    display: flex;
    position: relative;
}
#menu-sand {
    position: absolute;
    top: 20px;
    right: -60px;
    background-color: #212431;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 0.6s;
    cursor: pointer;
    z-index: 5;
}
.sidebar-left {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    min-width: 300px;
    background-color: #3c1686;
    transition: 0.2s;
    z-index: 5;
}
.content-sidebar-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 12px 24px 12px;
    align-items: center;
    color: #FFF;
}
.img-perfil {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 10px solid #212431 ;
    overflow: hidden;
}
.img-perfil img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.social-sidebar,
.social-contato {
    padding: 0 12px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.social-contato {
    max-width: 300px;
    margin-top: 40px !important;
    margin: 0 auto;
}
.title-e-social {
    width: 100%;
    text-align: center;
}
.socia-item {
    background-color: #212431;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    transition: 0.2s;
}
.socia-item:hover {
    background-color: #040b14;
}
.nav-sidebar {
    margin: 20px 0;
    width: 100%;
    padding: 0 12px;
}
.nav-sidebar ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nav-sidebar a {
    width: 100%;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 6px;
    padding: 0 12px;
    color: #adadad;
}
.nav-sidebar a:hover {
    background-color: #212431;
    color: #FFF !important;
}
.nav-sidebar ul li {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.bottom-sidebar {
    width: 100%;
    padding: 0 12px;
    font-size: 14px;
    text-align: center;
    color: #adadad;
    line-height: 25px;
}
.bottom-sidebar span {
    color: #1DC98A;
}
.main-site {
    width: 100%;
}
.center {
    width: 100%;
    margin: auto;
    max-width: 820px;
}
.home-section {
    height: 800px;
    width: 100%;
}
.bg-home-section {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
    z-index: 0;
}
.home-section-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.home-section-content h1,
.home-section-content h3 {
    position: relative;
    width: 100%;
    margin: 0;
    color: #040b14;
    font-weight: 800;
    opacity: 1 !important;
    z-index: 4;
    padding-left: 48px;
}
.home-section-content h1 {
    font-size: 60px;
}
.home-section-content h3 {
    color: #1DC98A !important;
    margin-top: 15px;
    font-size: 22px;
}
.home-section-content h3 .typed {
    color: #040b14;
}
.about-section,
.curriculo-section,
.atuacao-section,
.contato-section {
    width: 100%;
    padding: 36px 12px;
}
.top-about,
.top-curriculo,
.top-atuacao,
.top-contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.top-about h2,
.top-curriculo h2,
.top-atuacao h2,
.top-contato h2 {
    margin: 0;
    font-weight: 600;
    margin-bottom: 10px;
}
.top-about hr,
.top-curriculo hr,
.top-atuacao hr,
.top-contato hr {
    border: 2px solid #1DC98A;
    width: 80px;
    margin: 0;
}
.card-about,
.card-curriculo,
.card-contato {
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.card-about img {
    min-width: 320px;
    margin: auto;
    border-radius: 8px;
    box-shadow: -5px 5px 0px 0px #1DC98A;
}
.info-card-about {
    width: 100%;
}
.info-card-about h3 {
    margin: 0;
}
.info-card-about p {
    line-height: 26px;
}
.area-curriculo {
    background-color: #FFF;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
}
.curriculo-top-item {
    display: flex;
    margin-bottom: 20px;
    padding-top: 5px;
}
.curriculo-top-item img {
    border: 1px solid #dadada;
    border-radius: 6px;
    min-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}
.info-curriculo-top h4 {
    margin: 0;
}
.info-curriculo-top p {
    color: #5a5a5a;
}
.card-curriculo-bottom ul {
    list-style: square;
}
.card-curriculo-bottom ul li {
    font-weight: 700;
    font-size: 18px;
}
.card-curriculo-bottom ul p {
    color: #5a5a5a;
}
.list-stack {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}
.stack-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #FFF;
    border-radius: 6px;
    padding: 12px;
}
.title-stack {
    font-weight: 600;
    text-align: center;
}
.stars {
    display: flex;
    gap: 3px;
}
.card-contato {
    gap: 0;
    border-radius: 6px;
    overflow: hidden;
}
.left-contato,
.right-contato {
    width: 50%;
    padding: 18px;
}
.left-contato {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-contato h4 {
    margin: 0;
}
.right-contato {
    background-color: #040b14;
}
.right-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-form label {
    font-weight: 500;
    color: #FFF;
    font-size: 14px;
    margin-bottom: 5px;
}
.input-field {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #adadad;
    outline: 0;
}
.input-submit {
    margin-top: 15px;
    background-color: #212431;
    border-radius: 4px;
    border: 0;
    padding: 10px;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}
.input-submit:hover {
    background-color: #1DC98A;
}
.frase-motivacional {
    padding: 18px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background-color: #e5e5e5;
}

@media (max-width: 1020px) {
    .sidebar-left {
        position: fixed;
        left: -300px;
    }
    #menu-sand {
        display: flex;
    }
}
@media (max-width: 800px) {
    .home-section {
        height: 445px;
    }
    .nav-sidebar ul {
        gap: 0;
    }
    .img-perfil {
        width: 90px;
        height: 90px;
        border: 5px solid #212431;
    }
    .card-about {
        flex-direction: column;
    }
    .card-contato {
        flex-direction: column-reverse;
    }
    .left-contato,
    .right-contato {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .list-stack {
        gap: 20px;
    }
    .stack-item {
        width: 45%;
    }
    .card-about img {
        width: 280px;
        height: 280px;
        min-width: 280px;
    }
    .home-section-content h1, .home-section-content h3 {
        padding-left: 30px;
    }
}